.profile
  display flex
  padding 20px
  background-color white
  box-shadow  0 3px 20px 0 rgba(0, 0, 0, .2)
  margin: 25px;
  height 155px
  width calc(100vw - 400px)
  &__info
    color #192535
  &__image
    width 155px
    height 155px
    object-fit cover
    object-position center
    margin-right 15px
  &__container
    margin-top 5px
    width calc(100vw - 582px)
    margin-right 20px
  &__icons
    display flex
    flex-direction column
    margin-top 15px
    margin-bottom: 15px;

.profile__info+.profile__info
  margin-top 5px