.page__authorization
  display flex
  margin-top calc((100vh - 550px) / 2)
  box-shadow 0 3px 20px 0 rgba(0, 0, 0, .2)
  width 900px
  margin-left auto
  margin-right auto


.authorization__image
  width 450px
  height 550px
  object-fit cover
  object-position center